[*.cs]

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.DocumentationRules'
# dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.ReadabilityRules'
#dotnet_analyzer_diagnostic.category-StyleCop.CSharp.ReadabilityRules.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.LayoutRules'
#dotnet_analyzer_diagnostic.category-StyleCop.CSharp.LayoutRules.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.OrderingRules'
#dotnet_analyzer_diagnostic.category-StyleCop.CSharp.OrderingRules.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.SpacingRules'
#dotnet_analyzer_diagnostic.category-StyleCop.CSharp.SpacingRules.severity = none

# SA1124: Do not use regions
dotnet_diagnostic.SA1124.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = none

# SA1000: Keywords should be spaced correctly
dotnet_diagnostic.SA1000.severity = none

# SA1204: Static elements should appear before instance elements
dotnet_diagnostic.SA1204.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# CA2249: Consider using 'string.Contains' instead of 'string.IndexOf'
dotnet_diagnostic.CA2249.severity = none

# SA1131: Use readable conditions
dotnet_diagnostic.SA1131.severity = silent
